<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
    <head>
        <title>PRODUCTOS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>      
    <center> <h3>Carrito</h3></center>
    <div class="container mt-4">                      
        <div class="row">
            <div class="col-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Articulo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reg:${carrito}">
                            <th th:text="${reg.CarritoId}"></th>
                            <td>
                                <img style="width: 10rem"  alt="alt" th:src="${reg.UrlImagen}"/>
                            </td>
                            <td th:text="${reg.Descripcion}"></td>
                            <td th:text="${reg.Precio}"></td>
                            <td >
                                <div class="btn-group" role="group" aria-label="Basic example">                             
                                    <a th:href="@{/CambiarCantiad/}+${reg.CarritoId}+@{/-1}" class="btn btn-danger">-</a>
                                    <button disabled="true" type="button" class="btn" th:text="${reg.Cantidad}">Middle</button>
                                    <a th:href="@{/CambiarCantiad/}+${reg.CarritoId}+@{/1}" class="btn btn-primary">+</a>
                                </div>

                            </td>
                            <td th:text="${reg.PrecioTotal}"></td>
                            <td>
                                <a th:href="@{/eliminar/}+${reg.CarritoId}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-3">
                <form th:object="${compra}" method="post" th:action="@{/ActualizarCompra}" class="card">
                    <div class="card-header" >
                        Generar Compra
                    </div>

                    <div class="card-body">
                        <input type="text" th:field="*{Id}" hidden="true"/>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Subtotal :</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" readonly="true" class="form-control" th:field="*{SubTotal}"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Precio de Envío :</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" th:field="*{PrecioEnvio}"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Descuento :</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number"  class="form-control" th:field="*{Descuento}"/>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Total Pagar :</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" readonly="true" class="form-control" th:field="*{TotalPagar}"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">                     
                        <center>
                            <input type="submit" value="Actualizar el carrito" class="btn  btn-primary text-wrap">
                            <br>
                            <a class="btn bg-danger text-wrap mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Realizar Pago y registra</a>
                        </center>
                    </div>
                </form>
            </div>
        </div>            
    </div>
    
    <!-- Button trigger modal -->
 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h2>Compra Realizada!!!</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
